.DS_Store
HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
build
.kube/infrastructure
.kube/dev
.kube/qa
.kube/prod

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.terraform

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
*/out

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Helm ###
/**/*.backup
/**/cp-helm-charts

**/charts/**/charts
**/requirements.lock
**/*.kube/*

**/charts/**/Chart.lock
**/Chart.lock
**/charts/*.tgz

